/* friend 앱에 사용할 스타일*/

table,
tr,td,th{
  border:1px solid;
  border-collapse: collapse;
  /* border-radius: 15px; */
}
.menubar{
  /* border-radius: 5px; */
  width: 250px;
}
a {
  text-decoration: none;
  background-color: transparent;
}

.current{
  color:red;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

a:hover {
  color: #224abe;
  text-decoration: underline;
}


button {
  border-radius: 0;
}

select {
  word-wrap: normal;
}

textarea {
  overflow: auto;
  resize: vertical;
}

[hidden] {
  display: none !important;
}

