{%extends 'common/base.html'%}
{%block title%}[글 수정하기]{%endblock title%}
{%block body%}
  <script>
    function validateFile() {
      let file = document.getElementById("uploadFile");
      console.log("파일값은", file.value);
      // 첨부파일이 원래는 있었는데 수정하면서 없을 때
      if ('{{board.original_file_name}}' !== "" && file.value === '') {
        let go = confirm("파일이 첨부되지 않았습니다. 계속하시곘습니까?")
        if (go == true) {
          return true;
        } else {
          return false;
        }
      }
    }
  </script>
  <h1>[글수정하기]</h1>
  <!--상위 디렉토리로 이동한 후에 write/호출-->
  <form action="{%url 'board:update' board.id%}" method="POST" enctype="multipart/form-data" onsubmit="return validate()">
    {% csrf_token %}
    <table>
      <tr>
        <th>제목</th>
        <td><input type="text" name="title" value="{{board.title}}" id="title"/></td>
      </tr>
      <!--session에 writer가 없으면 해당 tr표시-->
      <!-- <tr> <th>글쓴이</th> <td><input type="text" name="writer" value="{{board.writer}}" /></td> </tr> -->
      <tr>
        <th>첨부파일</th>
        <td>
          현재 첨부파일:
          {% if board.original_file_name %}
            {{board.original_file_name}}
          {% else %}
            없음
          {% endif %}
          <br>
          <input type="file" name="uploadFile" id="uploadFile" value="{{board.original_file_name}}">
        </td>
      </tr>
      <tr>
        <th>내용</th>
        <td>
          <textarea name="content" id="content">{{board.content}}</textarea>
        </td>
      </tr>
      <tr>
        <th colspan="2"><input type="submit" value="수정하기"/></th>
      </tr>
    </table>
  </form>
{%endblock body%}
