{# common/base.html을 상속받겠음#}
{%extends 'common/base.html'%}
{%block title%}[게시판]{%endblock title%}

{%block body%}
  <script>
    $(document).ready(function () {
      console.log('index들어감')
    })

    function callFunction() {
      let data = {
        'txt': 'hello'
      };
      // AJAX로 서버와 통신을 할 때에도 csrf_token은 있어야한다
      $.ajax({
        url: '/board/callAjax/',
        headers: {
          'X-CSRFTOKEN': '{{csrf_token}}'
        },
        type: 'post',
        // JSON
        data: JSON.stringify(data), //JS객체를 문자열화
        success: function (res) {
          console.log(res);
          console.log(res.result); // res 객체에 들어있는 result라는 필드
          console.log("성공했음");
        }
      })
    }
  </script>
  <h1>게시판</h1>
  <table>
    {%if page_obj%}
      <tr>
        <th>#</th>
        <th>제목</th>
        <th>글쓴이</th>
        <th>작성일</th>
        <th>조회수</th>
      </tr>
      {% for board in page_obj %}
        <tr>
          <td>{{board.id}}</td>
          <!--파라미터가 있는 주소를 호출할 때 -->
          <!--name 뒤에 한칸 띄우고 파라미터의 값 지정-->
          <td>
            <a href="{%url 'board:detail' board.id%}">{{board.title}}</a>
          </td>
          <td>{{board.author}}
            {{board.author_id}}
          </td>
          <!--{{board.author.username}}과 {{board.author}}같음-->
          <td>{{board.input_date}}</td>
          <td style="text-align: center;">{{board.view_count}}</td>
        </tr>
      {% endfor %}
    </table>
    {%else%}
    <p>게시물이 존재하지 않습니다.</p>
    {%endif%}
    <form>
      <select name="searchType" id="">
        {% if searchType == 'title'%}
          <option value="title" selected="selected">제목</option>
        {% else %}
          <option value="title">제목</option>
        {% endif %}
        {% if searchType == 'writer'%}
          <option value="writer" selected="selected">글쓴이</option>
        {% else %}
          <option value="writer">글쓴이</option>
        {% endif %}
        {% if searchType == 'content'%}
          <option value="content" selected="selected">내용</option>
        {% else %}
          <option value="content">내용</option>
        {% endif %}
      </select>
      <input type="text" name="searchWord" value="{{searchWord}}"/>
      <input type="submit" value="검색"/>
    </form>
    {% if page_obj.has_previous %}
      <a href="?page=1">&laquo;</a>
      <a href="?page={page_obj.previous_page_number}">이전</a>
    {% endif %}
    <!--page_obj.number 는 현재 페이지 번호를 의미-->
    <!--num_pages는 전체 페이지 수(paginator로 지정한 보여줄 게시물 수로 나눈 페이지)-->
    <!-- {{page_obj.number}} of {{page_obj.paginator.num_pages}} -->
    [
    {%for page_number in page_obj.paginator.page_range%}
      {%if page_number >= page_obj.number|add:-5 and page_number <= page_obj.number|add:5%}
        {%if searchWord%}
          <a href="?page={{page_number}}&searchType={{searchType}}&searchWord={{searchWord}}">{{page_number}}</a>
          {%else%}
          {% if page_number == page_obj.number %}
            <a href="?page={{page_number}}" class="current">{{page_number}}</a>
            &nbsp;
            {%else%}
            <a href="?page={{page_number}}">{{page_number}}</a>
            &nbsp;
            {%endif%}
            {%endif%}
            {%endif%}
            {%endfor%}
            ]
            {%if page_obj.has_next%}
              <a href="?page={{page_obj.next_page_number}}">다음</a>
              <a href="?page={{page_obj.paginator.num_pages}}">
                &raquo;</a>
            {% endif %}<br/>

            <!--페이징 2 : 가지고 있는 페이지의 번호 다 보여주기-->
            <!-- {%for page_number in page_obj.paginator.page_range %} <a href="?page={{page_number}}" >{{page_number}}</a> &nbsp; {%endfor%} <br> -->
            <!--페이징 3: 2를 개선한 버전-->
            <!-- {%for page_number in page_obj.paginator.page_range%} {%if page_number >= page_obj.number|add:-5 and page_number <= page_obj.number|add:5%} <a href="?page={{page_number}}">{{page_number}}</a> &nbsp; {%endif%} {%endfor%} -->
            <br>
            {%if user.is_authenticated%}
              <a href="{%url 'board:write'%}">글쓰기</a>
              {%endif%}
              {% comment %} <input type="button" value="눌러보세요" onclick="callFunction();"> {% endcomment %}
              <div id="result"></div>
            {%endblock body%}
