{%extends 'common/base.html'%}
{%block title%}[글보기]{%endblock title%}
{%block body%}

  <script>
   
    $(document).ready(function () {
      $('#update_reply').hide();
      loadReplyList();
    });

    function showUpdateForm(param) {
      location.href = 'update_reply?rid=' + param
    } 

    function loadReplyList() {
      let bNum = '{{board.id}}';
      console.log(bNum);
      $.ajax({
        url: '/board/load_reply/',
        type: 'post',
        headers: {
          'X-CSRFTOKEN': '{{csrf_token}}'
        },
        data: {
          'id': bNum,
        },
        success: function (response) {
          {% comment %} console.log(JSON.parse(response['response'])); {% endcomment %}
          let replyList = JSON.parse(response['response']);
          console.log(replyList)
          let str ="";
          $.each(replyList, function (i, item) {
            let replyContent = item.fields.reply_content;
            let replyid = item.fields.user;
            let dateStr = item.fields.input_date.split('T')[0]; // 시간 값에서 날짜 부분만 추출
            let [year, month, day] = dateStr.split('-'); // 날짜를 년, 월, 일로 분리
            str += "<span style='display:inline-block;width:240px;'>" + replyContent +"</span>"+ year + "년 " + month + "월 " + day + "일 &nbsp&nbsp&nbsp&nbsp";
            str += "<a onclick='javascript:getReply(\"" + replyContent + "\",\"" + item.pk + "\")'>수정</a>&nbsp;/";
            str += "<a onclick='javascript:deleteReply(\"" + item.pk  + "\")'>삭제</a>&nbsp;";
            str += "<br>";
          });
          $("#replyList").html(str);
          $('#reply_text').val("");
        }
      });
    }

    function getReply(rt,rid){
      $('#reply_text').val(rt);
      $('#write_reply').hide();
      $('#update_reply').show();
      $('#rid').val(rid);
    }

    function updateReply(){
      let id = '{{board.id}}';
      let rt = $('#reply_text').val();
      let rid = $('#rid').val();
      console.log(rt,rid)
      $.ajax({
        url: '/board/update_reply/',
        type: 'post',
        headers: {
          'X-CSRFTOKEN': '{{csrf_token}}'
        },
        data: {
          'id':id,
          'rid': rid,
          'rt':rt,
        },
        success:function(){
          $('#reply_text').val("");
          loadReplyList();
          $('#write_reply').show();
          $('#update_reply').hide();
        }
      })
    }
    
    function writeReply(){
      let id = '{{board.id}}';
      reply_content = $('#reply_text').val();
      $.ajax({
        url: '/board/write_reply/',
        type: 'post',
        headers: {
          'X-CSRFTOKEN': '{{csrf_token}}'
        },
        data: {
          'id': id,
          'reply_content': reply_content
        },
        success:function(){
          loadReplyList();
        },
        error:function(){
          console.log("에러뜸")
        }
      })
     }


    function deleteReply(rid){
      //location.href='../{{board.id}}/delete_reply/' + data; 난 사실 잘 몰루.. 
      let id = '{{board.id}}'
      $.ajax({
        url: '/board/delete_reply/',
        type: 'post',
        headers: {
          'X-CSRFTOKEN': '{{csrf_token}}'
        },
        data: {
          'id': id,
          'rid':rid
        },
        success:function(data){
          loadReplyList();
        }
      });
     }

  </script>
  <h1>#{{board.id}}</h1>
  <table>
    <tr>
      <th>제목</th>
      <th>내용</th>
      <th>작성자</th>
      <th>조회수</th>
    </tr>
    <tr>
      <td>{{board.title}}</td>
      <td>{{board.content}}</td>
      <td>{{board.author.username}}</td>
      <td>{{board.view_count}}</td>
    </tr>
  </table>
  <!--수정/삭제-->
  {%if board.author.username == user.username %}
    <br/>
    <a href="{%url 'board:update' board.id%}">수정</a>&nbsp;
    <a href="{%url 'board:delete' board.id%}" onclick="return confirm('정말 삭제 하시겠습니까?')">삭제</a>&nbsp;
    {%endif%}


    <div id="replyArea">
      <!--댓글 목록 표시할 곳-->
      <div id="replyList" >
        </div>
        <!--댓글 입력 폼-->
         <div id="replyForm">
          <input type="hidden" id = "rid">
          <textarea name="reply_text" id = "reply_text" cols="30" rows="1.5"></textarea>
          <input type="button" id = "write_reply" value="댓글쓰기" onclick="writeReply()">
          <input type="button" id = "update_reply" value="댓글수정" onclick="updateReply()">
          </div>
        </div>
        <br/>
        <a href="../">목록으로</a>
      {%endblock body%}
