{%extends 'common/base.html'%}
{%block title%}[글보기]{%endblock title%}
{%block body%}

  <script>
    $(document).ready(function () {
      //1.수정 폼 숨기기
      $('#updateForm').hide();
      //2.버튼에 이벤트 달기
      /*$('#btnWrite').click(function () {
          writeReply();
        })
        $('#btnUpdate').click(function () {
          updateReply();
        })*/
      // loadReplyList();
      loadreply();
    });

    function showUpdateForm(param) {
      // location.href = 'update_reply?rid=' + param
      $('#writeForm').hide()
      $('#updateForm').show()
      $.ajax({
        url: '{%url "board:update_reply" id=board.id%}',
        type: 'get',
        data: {
          'rid': param
        },
        success: function (res) {
          //1. 수정 입력창에 댓글 내용 표시
          $("#replyTextUpdate").val(res.replyText);
          //2. rid라는 id를 가진 hidden 태그에 값 설정
          $("#rid").val(res.rid);
        },
        error: function () {
          alert("안갔음 ㅅㄱ ㅋㅋ");
        }
      })
    }

    function updateReply() {
      let replyText = $('#replyTextUpdate').val();
      let rid = $('#rid').val();
      let data = {
        "replyText": replyText,
        "rid": rid
      };
      $.ajax({
        url: '{%url "board:update_reply" id=board.id%}',
        type: 'post',
        headers: {
          'X-CSRFTOKEN': '{{csrf_token}}'
        },
        data: JSON.stringify(data),
        // data: {
        //   'rid': rid,
        //   'replyText': replyText
        // },
        success: function () {
          loadreply();
          $('#updateForm').hide();
          $("#writeForm").show();
        }
      })
    }

    function loadreply() {
      $.ajax({
        url: '{% url "board:load_reply" id=board.id %}',
        type: 'get',
        success: function (res) {
          // console.log(res);
          let str = "<table style='width: 500px;'>";
          console.log("댓글의 갯수", res.replyList.length);
          if (res.replyList.length == 0) {
            alert("댓글 없음");
          }
          $.each(res.replyList, function (index, item) {
            let replacedDate = item
              .inputDate
              .replace("T", " ")
              .replace("Z", " ")
              .split(".")[0]
            str += "<tr>";
            str += "<td>" + item.replyText + "</td>";
            str += "<td style='text-align:center;'>" + item.username + "</td>";
            str += "<td style='width: 150px;'>" + replacedDate + "</td>";
            str += "<td style='width: 80px; text-align: center;'>";
            if ('{{user.username}}' === item.username) {
              str += "<a href = '#' onclick = 'showUpdateForm(" + item.id + ")'>수정</a>/";
              str += "<a href = '#' onclick = 'deleteReply(" + item.id + ")'>삭제</a>"
            }
            str += "</td>";
            str += "</tr>";

          });

          str += "</table>";

          $('#replyList').html(str);
        }
      })
    }

    function writeReply() {
      // let id = '{{board.id}}';
      replyText = $('#replyTextWrite').val();
      let data = {
        "replyText": replyText
      };
      $.ajax({
        url: '{% url "board:write_reply" id=board.id %}',
        type: 'post',
        data: JSON.stringify(data),
        headers: {
          'X-CSRFTOKEN': '{{csrf_token}}'
        },
        success: function (res) {
          $('#replyTextWrite').val("");
          loadreply();
        },
        error: function () {
          console.log("에러뜸")
        }
      })
    }

    function deleteReply(rid) {
      //location.href='../{{board.id}}/delete_reply/' + data; 난 사실 잘 몰루..
      let data = {
        'rid': rid
      }
      $.ajax({
        url: '{%url "board:delete_reply" id=board.id%}',
        type: 'post',
        headers: {
          'X-CSRFTOKEN': '{{csrf_token}}'
        },
        data: JSON.stringify(data),
        success: function (data) {
          loadreply();
        }
      });
    }
  </script>
  <h1>#{{board.id}}</h1>
  <table>
    <tr>
      <th>제목</th>
      <th>내용</th>
      <th>작성자</th>
      <th>조회수</th>
      <th>첨부파일</th>
    </tr>
    <tr>
      <td>{{board.title}}</td>
      <td>{{board.content}}</td>
      <td>{{board.author.username}}</td>
      <td>{{board.view_count}}</td>
      {%if board.original_file_name%}
        <td colspan='3'>
          <!--/board/0/download/-->
          <a href="{%url 'board:download' id=board.id %}">{{board.original_file_name}}</a>
        </td>
        {%endif%}
      </tr>
    </table>
    <br><br><br>
    <!--수정/삭제-->
    {%if board.author.username == user.username %}
      <br/>
      <a href="{%url 'board:update' board.id%}">수정</a>&nbsp;
      <a href="{%url 'board:delete' board.id%}" onclick="return confirm('정말 삭제 하시겠습니까?')">삭제</a>&nbsp;
      {%endif%}
      <hr>
      <div id="replyArea">
        <!--댓글 목록 표시할 곳-->
        <div id="replyList"></div>
        <!--댓글 입력 폼-->
        <div id="replyForm">
          <div id="writeForm">
            <!--글쓰기 폼-->
            <textarea name="reply_text" id="replyTextWrite" cols="30" rows="1.5"></textarea>
            <input type="button" id="btnWrite" value="댓글쓰기" onclick="return validateReply(this)">
          </div>
          <div id="updateForm">
            <!--글 수정 폼-->
            <input type="hidden" name="rid" id="rid">
            <textarea name="reply_text" id="replyTextUpdate" cols="30" rows="1.5"></textarea>
            <input type="button" id="btnUpdate" value="댓글수정" onclick="return validateReply(this)">
          </div>
        </div>
      </div>
      <br/>
      <a href="../">목록으로</a>
    {%endblock body%}
