<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>주문 등록</title>
  </head>
  <body>
    <h1>주문 등록 하기</h1>
    <form action="../add_order/" method="POST">
      {% csrf_token %}
      <table border="1">
        <tr>
          <th>제품명</th>
          <td><input type="text" name="product_name" /></td>
        </tr>
        <tr>
          <th>가격</th>
          <td><input type="text" name="price" /></td>
        </tr>
        <tr>
          <th>주소</th>
          <td><input type="text" name="address" /></td>
        </tr>
      </table>
      <input type="submit" value="등록" />
    </form>
    <a href="../order/list_order">목록으로</a>
  </body>
</html>
