<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[상품 목록]</title>
  </head>

  <body>
    <h1>[상품 목록]</h1>
    <table border="1">
      {%if item_list%}
        <tr>
          <th>#</th>
          <th>제목</th>
          <th>수량</th>
          <th>수정삭제</th>
        </tr>
        {% for item in item_list %}
          <tr>
            <td>{{item.id}}</td>
            <td>
              <a>{{item.item_name}}</a>
            </td>
            <td style="text-align: center;">{{item.item_count}}</td>
            <td><a href="{%url 'item:update_item' id=item.id%}">수정</a> / <a href="{%url 'item:delete_item' id=item.id%}">삭제</a></td>
          </tr>
        {% endfor %}
      </table>
      {%else%}
      <p>게시물이 존재하지 않습니다.</p>
      {%endif%}

      <form action="../search_item/">
        <p>상품정보 검색</p>
        <input type="text" name="item_name"/>
        <input type="submit" value="검색"/>
      </form>
    </body>
    <a href="../">뒤로</a>
  </html>
