<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css'%}"/>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <!--틀이 되는 템플릿의 title이 덮어써지지 않도록-->
    <title>
      {% block title%}{%endblock title%}
    </title>
    <script>
      function showUpdateForm(param) {
        location.href = 'update_reply?rid=' + param
      }
    </script>
    <!--block title-->
  </head>

  <body>
    <!--다른 내용을 삽입할 자리를 만들기-->
    <!--템플릿 태그에 대해 더 공부하기-->
    <!--내가 집어넣고 싶은 조각(fragment)를 include-->
    {% include 'common/menubar.html' %}
    {%block body%}{%endblock body%}
  </body>

</html>